@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #222;
  transition: all 0.3s ease-in-out;
}

.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8em 3.5em;
  color: white;
}

.nav.active {
  background-color: #fff;
  padding: 0.5em;
}

.nav.active .logo {
  color: #000;
}

.nav.active a {
  color: #000;
}

.logo {
  font-size: 1.7rem;
  padding: 0 1.5rem;
}

.menu {
  display: flex;
  font-size: 1.3rem;
}

.menu--list {
  padding: 0.2em 1.5rem;
}

.menu--list > a {
  transition: all 0.2s;
}

.menu--list > a:hover {
  color: brown;
}

.home {
  position: relative;
  background: url("img/home.jpg") no-repeat center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: -2;
}

.home::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  background-color: grey;
  z-index: -1;
  opacity: 0.6;
}

.title {
  font-size: 2.8rem;
  margin-bottom: 0.4em;
}

.title--description {
  font-size: 1.5rem;
}

.content {
  max-width: 1200px;
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.content div {
  margin: 20px 0;
}

.content h2 {
  font-size: 2.3rem;
  margin-bottom: 0.5em;
}

.description {
  font-size: 1.2rem;
}

.navbar--toggle {
  background-color: transparent;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1.3em;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 768px) {
  .menu .menu--list {
    display: none;
    margin: auto;
  }

  .menu.show .menu--list {
    display: block;
  }

  .nav--container,
  .menu {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .navbar--toggle {
    display: block;
    position: absolute;
    top: 27px;
    right: 15px;
    transition: all 0.3s;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    padding: 0.5em;
  }

  .logo,
  .menu.menu--list {
    width: 100%;
  }

  .menu {
    width: 100%;
    text-align: center;
  }

  .menu--list {
    display: inline-block;
    width: 90%;
    padding: 0.5em 0;
    text-align: center;
  }

  .menu--list:hover {
    background-color: burlywood;
  }

  .title,
  .title--description {
    text-align: center;
  }

  .content {
    padding: 0 1.5em;
  }
}
