@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.box {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1040px;
  margin: 0;
}

.avatar {
  width: 200px;
  height: 200px;
}

.intro,
.projects {
  padding: 16px;
}

.header,
.tools {
  display: flex;
  align-items: center;
}

.header__title {
  font-size: 24px;
}

.header__title.name {
  margin-top: 24px;
  margin-bottom: 0px;
}

.header__title.tools {
  margin-top: 28px;
  margin-bottom: 10px;
}

.job {
  margin: 0;
}

.tools {
  margin: 0;
}

.tool {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
}

.description::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0px;
  background-color: lightgrey;
}

.projects::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: lightgrey;
}

.intro,
.projects {
  padding: 16px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.project__list {
  display: flex;
  transition: all 0.2s ease-in;
  border-radius: 10px;
  width: 50%;
}

.project__list:hover {
  transform: translateY(1.02);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4em 1.2em;
  text-decoration: none;
  min-width: 480px;
  color: #666;
}

.project__number {
  margin-right: 32px;
}

.project__title {
  flex-basis: 60%;
  font-size: 17px;
}

.footer {
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__title.name,
  .job,
  .header__title.tools {
    text-align: center;
  }

  .header__title.tools {
    display: flex;
    justify-content: center;
  }

  .project {
    flex-direction: column;
    width: 100%;
  }

  .project__list {
    width: 90%;
    margin: 10px 0px;
  }

  .description {
    margin-top: 20px;
  }

  .title {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .intro,
  .projects {
    padding: 0px 20px;
  }
  .project__box {
    min-width: 100%;
  }
}
