.container.dark {
  background-color: black;
}

.container.dark .title,
.container.dark .card--name,
.container.dark .card--rating,
.container.dark .desc {
  color: white;
}

.container.dark .card {
  background-color: #1d1d1d;
}
