* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ff3838;
}

li {
  list-style: none;
}

.title {
  font-size: 2rem;
}

.cards {
  max-width: 80%;
}

.card {
  display: flex;
  align-items: center;
  padding: 12px 30px 12px 20px;
  margin: 0 auto;
  max-width: 80%;
  padding: 0.7em 1.1rem;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 1.2em;
}

.card__message {
  width: 500px;
}

.card--top {
  display: flex;
  justify-content: space-between;
}

.card--name {
  font-size: 1.3rem;
}

.card--rating {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.star {
  width: 13px;
  height: 13px;
  margin-right: 2px;
}

.card--desc {
  color: black;
  font-size: 1.37rem;
}

.avatar {
  width: 100px;
  height: 100px;
}

.read--only {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

#mode--btn {
  margin: 1em 0;
  padding: 0.7em 1.1rem;
  font-size: 1.2rem;
  outline: 0;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 300ms linear;
}

#mode--btn:hover,
#mode--btn:focus {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 760px) {
  .card {
    max-width: 18.75em;
  }

  .avatar {
    width: 5em;
    height: 5em;
  }

  .card--desc {
    font-size: 0.75rem;
  }
}
