* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f95959;
}

.box,
.box2 {
  max-width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.box,
.box2,
.starAndScore {
  display: flex;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
}

.info {
  padding: 10px;
}

.title {
  color: white;
  font-size: 2.1rem;
}

.nameAndStar {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 28px;
}

.star {
  width: 15px;
  height: 15px;
}

.score {
  font-size: 20px;
  margin-left: 5px;
}

.description {
  padding: 10px 0px;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
  outline: 0;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  background-color: black;
  color: white;
}

.button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 760px) {
}
